<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <main>
        <h1>Blogs</h1>

        <div class="blog-container">
            <% for (let blog of blogs) { %>
                <div class="blog">
                    <h3 class="name"><%= blog.Writer_name %></h3>
                    <p class="content"><%= blog.content %></p>
                    <a href="/blogs/<%= blog.id %>" class="detail-btn">+ See in Detail</a>
                    <a href="/blogs/<%= blog.id %>/edit" class="detail-btn">+ Edit</a>
                    <form 
                        method="POST" 
                        action="/blogs/<%= blog.id %>?_method=DELETE" 
                        class="delete-form"
                    >
                        <button type="submit" class="delete-btn">Delete</button>
                    </form>



                </div>
            <% } %>
        </div>
        <div class="create-btn-wrapper">
            <a href="/blogs/new" class="create-btn">+ Create New Post</a>
        </div>

           
    </main>

</body>
</html>
